<% if flash[:notice] %>
  <div class="notice">
    <div class="close-button">&times;</div>

    <h3><%= flash[:notice] %></h3>
  </div>
<% end %>

<div id="header">
  <div class="wrapper">
    <h1>SCO: Sponsor a Musician</h1>

    <p>On November 18, we will be presenting you with an <a class="link" href="http://livemusicproject.org/event/seattle-collaborative-orchestra-listen-to-the-girls/">innovative concert</a>. Our orchestra is inter-generational, a collaboration between Seattle-area high school and college students, volunteers from the community, and professionals from premier ensembles like the Seattle Symphony.</p>

    <p>We are asking you, our community, to help take part in this event. For &#36;50, you can sponsor a student or volunteer musician, and get a complimentary ticket to our concert. Here&apos;s the twist. If all musicians are sponsored by the day of the concert, the money will go to the musicians. If not, the money will go to the orchestra&apos;s general fund. Either way, you will be supporting our exciting musical collaboration. Find a musician on the stage map below, and click to sponsor!</p>

    <div class="counter">
      <div id="days"></div>

      <h1><span id="numSponsored"></span></h1>
      musicians sponsored
    </div>
  </div>
</div>

<%= content_tag "div", id: "orchestra", data: {url: root_url} do %>
  <div class="popup"></div>
<% end %>

<div id="checkout">
  <div class="close-button">&times;</div>

  <div class="information">
    <h3>Test content</h3>
  </div>

  <form id="checkout-form" method="post" action="/checkout">
    <div id="details">
      <input type="text" name="donorname" placeholder="Name">
      <input type="email" name="donoremail" placeholder="Email Address" required>
      <input type="checkbox" name="include">
      <label for="include">Show my name in the list of donors</label>
    </div>
    <div id="payment-form"></div>
    <button type="submit">Sponsor for $50</button>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" id="id-field" name="id" value="">
  </form>
</div>

<div id="lightbox"></div>

<div id="footer">
  
  <div class="text">
    <a href="http://livemusicproject.org" title="The Live Music Project" alt="The Live Music Project"><%= image_tag "LMP.png" %></a>

    <div class="socialmedia">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Sponsor an SCO musician by 11/18!" data-via="LiveMusicProj" data-related="LiveMusicProj" data-count="none">Tweet</a>
      <div class="fb-share-button" data-href="https://orchestral.herokuapp.com" data-layout="button"></div>
    </div>
    
    <p>&copy; 2015 The Live Music Project. The Seattle Collaborative Orchestra is a 501(c)3 non-profit organization. All donations are tax-deductible and are paid directly to the orchestra.</p>
    <p>Contact us: <a class="link" href="mailto:info@seattlecollaborativeorchestra.org">info@seattlecollaborativeorchestra.org</a> | <a class="link" href="/termsandprivacy">Terms of use</a></p>
  </div>

</div>

<!-- Twitter share button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Facebook share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script type="text/javascript">

  // fetches client token from server
  braintree.setup('<%= @client_token %>', "dropin", {
    container: "payment-form"
  });


  var musicians = $.getJSON( $('#orchestra').data('url' + '.json'), function() { 
    renderMusicians(musicians.responseJSON);

    $(window).resize( function() {
      $('#orchestra').empty();
      renderMusicians(musicians.responseJSON);
    });
  });

  // bind clicks to open payment modal
  $('.sponsor').click( function() {
    var id =  $($(this).parent()[0]).attr('class');

    launchPayments(id);
  });

  // bind clicks to close payment modal
  $('.close-button').click(function() {
      $('#lightbox').hide();
      $(this).parent().hide();
      $('body').css('overflow', 'auto');
  });
</script>

<!-- Google Analytics tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49390947-2', 'auto');
  ga('send', 'pageview');

</script>